<h1>Hello, Meowifiers!</h1>

<%= form_for @song, url: main_index_path do |f| %>

	<div class="field">
		<%= f.label :title, "Song title" %>
		<%= f.text_field :title %>

		<%= f.label :file, "MP3 only" %>
		<%= f.file_field :file %>
	</div>
	<div class="actions">
		<%= f.submit "Meowify me!" %>
	</div>
<% end %>